html,
body {
  padding: 0;
  margin: 0;
  background-color: #F9FAFF;
  color: black;
  font-family: var(--font-inter), -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
 font-family: var(--font-playfair-display); 
 font-size: 72px !important;
 font-weight: 700 !important;
}

h2 {
 font-family: var(--font-playfair-display); 
 font-size: 42px !important;
 font-weight: 700 !important;
}

p {
  color: #878787;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;